  /* Logo */
  .logo-text{
    margin-top: 10px;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    font: 400 15px Lato, sans-serif; 
  }
  .sidebtn{
    color: #ffffff !important;
    letter-spacing: 2px;
    font-size: 13px;
  }
/* side bar nav */
  .top-right-t, .top-right-t-2{
    position: absolute;
    top: 290px;
    right: 14%;
  }
  .top-right-m, .top-right-m-2 {
    position: absolute;
    top: 360px;
    right: 14%;
  }
  .top-right-b, .top-right-b-2  {
    position: absolute;
    top: 430px;
    right: 14%;
  }
  .top-right-t-home, .top-right-t-okn, .top-right-t-about{
    position: absolute;
    top: -35px;
    right: 44px;
  }
  .home-img:hover{opacity: 0;} 
  .okn-img:hover{opacity: 0;} 
  .about-img:hover{opacity: 0;} 
  
/* Body */
  body {
    font: 400 15px Lato, sans-serif;  
    color: #ffffff;  
    background-image: url("../img/blue.png");
    background-size:cover;
  }

  /* Home page */
  .home-content, p{
    position: relative;
    text-align: center;
    margin-top: 50px;
  }
  .home-text-content{
    width: 62%;
    text-align:start;
    position: absolute;
    top: 35%;
    left: 51%;
    transform: translate(-50%, -50%);
    color: #ffffff !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    font-size: 18px; 
  }
  .try-button{
    position: absolute;
    width: 20%;
    left:320px;
    top:550px;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    font: 400 18px Lato, sans-serif;
  }

  /* OKN page */
  .test-result{
    width: 55%;
    color: white;
  }
  .okn-page{
    padding-top: 20px;
    display: none;
  }
  .upload-title{
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    position: absolute;
    top: 180px;
    left: 250px; 
  }
  .how-to-title{
    text-align: left;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    position: absolute;
    top: 110px;
    right: 270px;
  }
  .how-to-content{
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    text-align: left;
    width: 30%;
    position: absolute;
    top: 140px;
    right: 185px;
  }
  .upload-form{
    position: absolute;
    top: 250px;
    left: 250px; 
  }
  #okn-btn{
    margin-top: 20px;
    margin-left: 170px;
  }
  .uploadVideo{
    position: relative;
    text-align: center;
    padding-top: 50px;
    color: #ffffff;
  }

  .loading-msg{
    padding-top: 260px;
    font: 400 15px Lato, sans-serif; 
    color: white;
    font-size: 15px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
  } 

  .videoBg, .vidplayer{  
    /* display: none;    */
    opacity: 0.9;
    border-radius: 60px;
    background: #000000;
    position: absolute;
    height: 50%; 
    left: 50%;
    top: 25%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -100;
  }
  .videoBg{
    margin-top: 90px;
    height: 350px;
    width: 350px;
  }
  .vidplayer{
    padding-bottom: 40px;
  }
 
/* about page */
  .aboutpage{
    padding-top: 30px;
    display: none;
  }
  .about-content{
    letter-spacing: 2px;
    line-height: 1.42857143 !important;
    font: 400 16px Lato, sans-serif;
  }
/* NAVBAR */
  #mainNavigation li a, .navbar .navbar-brand {
    color: #ffffff !important;
    font-size: 18px;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
  }
  
  #mainNavigation li a:hover, .navbar-nav li.active a {
    color: #f7981d !important;
    background-color: #ffffff !important;
    text-decoration: none;
  }