

{% block sidebar %}
<div class="top-right-t-2">
    <img class="home-img-2" src="{{ url_for('static', filename='img/button.png') }}" alt="btn" style="width:80%;">
    </div> 
    <div class="top-right-t">
    <p class="top-right-t-home">HOME</p>
    <div class="wrapper home-img">    
        <img onclick="showHomePage()" class="home-img" src="{{ url_for('static', filename='img/button_m.png') }}" alt="btn" style="width:80%;">
    </div>
    </div>  
    <!-- OKN BUTTON -->
    <div class="top-right-m-2">
    <img class="okn-img-2" src="{{ url_for('static', filename='img/button.png') }}" alt="btn" style="width:80%;">
    </div>   
    <div class="top-right-m">
    <p class="top-right-t-okn">OKN</p>
    <img onclick="showOknPage()" class="okn-img" src="{{ url_for('static', filename='img/button_m.png') }}" alt="btn" style="width:80%;">
    </div> 
    <!-- ABOUT BUTTON -->
    <div class="top-right-b-2">
    <img class="about-img-2" src="{{ url_for('static', filename='img/button.png') }}" alt="btn" style="width:80%;">
    </div> 
    <div class="top-right-b">
    <p class="top-right-t-about">ABOUT</p>
    <img onclick="showAboutPage()" class="about-img" src="{{ url_for('static', filename='img/button_m.png') }}" alt="btn" style="width:80%;">
</div> 
{% endblock %}

